html {
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

/* Utilities */
.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0;
}

/* CSS HEX */
/* Palette */
/* 
    dark brown #4A2806ff
    orange #F2790F
    light brown #753E0Dff
    dark green #064025
    eggshell #F2F1DF
*/

/* Fonts */
/* 
    font-family: 'Inter', sans-serif;
    font-family: 'Libre Caslon Display', serif;
    font-family: 'Pacifico', cursive; 
*/

/* Positioning */

body {
    background-image: url(../images/leaves.jpg);
    /* Background  <a href='https://pngtree.com/freebackground/autumn-fall-leaves-pattern-seamless-background_1544471.html'>free background photos from pngtree.com/</a> */
}

header {
    width: 100%;
    margin: 0;
    background-image: linear-gradient(rgba(0, 0, 0, 0.0), rgba(0, 0, 0, 0.4)), url(../images/hoffmann-psl.jpg);
    /* Header image from James Hoffmann's website */
    background-size: cover;
    background-position: center;
    padding: 10em 0;
}

.bio {
    width: 100%;
    background-color: #064025;
    display: grid;
    grid-template-columns: 1fr 4fr 1fr 1fr;
}

.headshot {
    width: 100%;
    border-radius: 100%;
    margin: 1em;
}

section {
    background-color: #F2F1DF;
    padding: 1em;
}

.article {
    margin: 1em 1em 2em;
    text-align: justify;
}

/* Typography */

h1,
h2,
h3,
h4,
h5,
h6 {
    line-height: 1.3em;
    font-variant: small-caps;
    font-family: 'Libre Caslon Display', serif;
    /* You need to learn right now that I am a sucker for Libre Caslon and /will/ use it given the opportunity */
    font-weight: 800;
}

p,
figcaption,
li,
td {
    line-height: 1.8em;
    /* Increased line height because I switched to a sans-serif */
    color: #4A2806ff;
    font-family: 'Inter', sans-serif;
}

a {
    text-decoration: none;
}

header h1,
header h2 {
    color: #F2F1DF;
    text-shadow: 1px 1px 8px rgba(0, 0, 0, 0.5);
    margin: 0;
    text-align: center;
}

h1 {
    font-family: 'Libre Caslon Text', serif;
    font-size: 48px;
}

header h2 {
    font-size: 40px;
    font-family: 'Pacifico', cursive;
    font-variant: none;
    color: rgb(241, 205, 132);
}

section h2 {
    margin: 0;
    padding: 2em 0 0;
    text-align: center;
    font-size: 30px;
    color: rgb(216, 119, 8);
}

h3 {
    padding: 2.5em 0 1em;
    text-align: center;
    font-size: 20px;
    color: #064025;
}

.author {
    font-size: 12px;
    margin: 1em;
    color: #F2F1DF;
    text-align: center;
}

.dateline {
    font-weight: bold;
}

section a,
section a:visited {
    color: #038C65;
}

section a:hover,
section a:active {
    color: #064025;
}

.emojis,
.emojis-top {
    font-size: 32px;
    text-align: center;
    padding: 1em 0;
}

.emojis-top {
    padding: 0;
    margin: 0;
}

.fa-globe,
.fa-youtube {
    margin: 1em 0.5em;
    font-size: 24px;
    color: #F2F1DF;
}

figcaption {
    font-size: 12px;
    font-family: Arial, Helvetica, sans-serif;
}

section p {
    padding: 0 0 0.8em;
}

/* Images, Tables */

.youtube {
    display: none;
    /* Doesn't work in mobile not going to deal with it */
}

img {
    width: 100%;
    display: block;
}

figure {
    margin: 0;
    padding: 1em;
}

.rounded-corner {
    border-radius: 20px;
}

table {
    margin: 2em auto;
    border-collapse: collapse;
}

th,
td {
    border: 5px solid #F2F1DF;
    padding: 0.5em 5em;
}

th {
    background-color: #064025;
    color: #F2F1DF;
    text-align: right;
    padding-right: 1.3em;
}

td {
    color: rgb(194, 107, 8);
    background-color: rgba(0, 0, 0, 0.1);
    text-align: left;
    padding-left: 1.3em;
}

/* List Nonsense */

li {
    padding: 0 0.5em 1.5em;
}

ul li {
    padding: 0 0.5em 0.5em;
}

ul {
    margin-left: 1em;
}

.spice {
    list-style: "\1F330";
    /* Nutmeg emoji */
}

.syrup {
    list-style: "\1F383";
    /* Pumpkin emoji */
}

.cream {
    list-style: "\1F366";
    /* Soft Serve Emoji */
}

ol li::marker {
    font-weight: bold;
    color: rgb(216, 119, 8);
    /* This bolds & changes the color of the numbers */
}

.subitem {
    list-style: "\2615";
    padding: 0.5em 0.5em 0em;
    /* Coffee cup emoji */
}

.no-pad {
    padding-bottom: 0;
    /* If i don't do this the 4th list item is pushed way too far down */
}

.ps {
    border-bottom: 8px dotted #753E0Dff;
}

/* Footer */

footer {
    background-color: #064025;
    margin: 0;
    padding: 2em;
    width: 100%;
}

footer p {
    margin: 0;
    color: #F2F1DF;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    padding: 0.5em;
}

footer a,
footer a:visited {
    color: #F2790F;
}

footer a:active,
footer a:hover {
    color: rgb(251, 196, 133);
}

/* Tablets */

@media (min-width: 650px) {

    header {
        background-position: center 80%;
        padding: 14em 0;
    }

    h1 {
        font-size: 84px;
    }

    header h2 {
        font-size: 64px;
    }

    h3 {
        font-size: 24px;
    }


    .bio {
        background-color: #F2F1DF;
        grid-template-columns: 5em 1fr 5em 5em;
    }

    .author {
        margin: auto 2em;
        font-size: 20px;
        color: #4A2806ff;
        text-align: left;
    }

    .fa-youtube,
    .fa-globe {
        font-size: 35px;
        margin: 1em 0;
    }

    .fa-youtube {
        color: rgb(216, 119, 8);

    }

    .fa-globe {
        color: #4A2806ff;

    }

    section {
        margin: 0 2em;
    }

    .article {
        margin: 2em 4em;
    }

    iframe {
        border: none;
    }

    .youtube {
        display: block;
        text-align: center;
        /* I don't know why this is how it works but it works so im not going to mess with it */
    }

    .instructions {
        margin: 1em 4em;
    }

    ul {
        margin-left: 3em;
    }

    figure {
        margin: 0 2em;
        padding: 1em;
    }

}

/* Large screens / Desktops etc. */

@media (min-width: 1200px) {

    h1 {
        font-size: 100px;
    }

    header h2 {
        font-size: 80px;
    }


    section {
        width: 70%;
        margin: 0 auto;
        background-color: #F2F1DF;
        padding: 3em 3em 1em;
    }

    .article {
        margin: 2em 8em;
    }

    figure {
        margin: 0;
    }

    .instructions {
        margin: 1em 6em;
    }

    /* desktop only */

    .float-right {
        float: right;
        width: 50%;
        padding: 1em 3em;
        margin-right: 0;
        margin-left: 0;
    }

    .float-left {
        float: left;
        width: 50%;
        padding: 1em 3em;
        margin-left: 0;
        margin-right: 0;
    }


}